<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-dark fw-bold text-xs mb-1"><span>Remote Validations</span>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="">Generate New Report</a>
                                </li>
                                <li>
                                    <a href="">Existing Reports</a>
                                </li>
                                <li>
                                    <a href="">Favourites</a>
                                </li>
                                <li>
                                    <a href="">Tasks</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-dark fw-bold text-xs mb-1"><span>Pipelines</span>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="">New Pipeline</a>
                                </li>
                                <li>
                                    <a href="">Failed Pipelines</a>
                                </li>
                                <li>
                                    <a href="">Existing Pipelines</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-dark fw-bold text-xs mb-1"><span>AI ANAMOLY DETECTION</span>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="">New Detection</a>
                                </li>
                                <li>
                                    <a href="">Detection Results</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-dark fw-bold text-xs mb-1"><span>SUPPORT</span>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="">Report an issue</a>
                                </li>
                                <li>
                                    <a href="">Feedback</a>
                                </li>
                                <li>
                                    <a href="">Send an Email</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>