.card-body {
    height: 200px;
}
.quick-links {
    margin-top : 10px;
}

ul{
    padding-left: 15px;
   
    text-decoration: none;

    li {
        margin-bottom: 3px;
    }

   
}
a {
    text-decoration: none;
    font-size: 14px;
}